@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
:root {
    /* All variables */
    --font-family: 'Source Code Pro', monospace;
    --background-color: #002022;
    --header-background-color: #3a2021;
    --font-color: #f8f8f8;
    --button-border-color: #f8f8f8;
    --button-background-color: #001a1a;
}

html,
body {
    /* This should go full size */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Font-Family */
    font-family: var(--font-family);
    /* Background color */
    background-color: var(--background-color);
    /* Font color */
    color: var(--font-color);
}

header {
    /* Full page width */
    width: 100%;
    /* Height 10% */
    height: 10%;
    /* Background color */
    background-color: var(--header-background-color);
    /* Center the text horizontally and vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* Font size 100% element heiht */
    font-size: 2.5vh;
}

.row_container {
    /* Width = full page - 40px */
    width: calc(100% - 40px);
    /* Height = full page - header height - 20px */
    height: calc(100% - 10% - 20px);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "multimedia services system other";
}

.multimedia {
    grid-area: multimedia;
}

.services {
    grid-area: services;
}

.system {
    grid-area: system;
}

.other {
    grid-area: other;
}

.columns_container {
    /* Full height */
    height: 100%;
    width: 98%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16% 4%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "row_title" "field1" "field2" "field3" "field4" "field5";
}


/*
Row title
*/

.row_title {
    /* Assign it to the row-grid */
    grid-area: row_title;
    /* Get the own grid cmponents */
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "row_icon row_text";
    /* Set margin to the sides to 10px */
    margin: 0px 15px;
}

.row_icon {
    grid-area: row_icon;
    /* Center the icon vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    font-size: 200%;
}

.row_text {
    grid-area: row_text;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin: 2%;
}

.field1 {
    grid-area: field1;
}

.field2 {
    grid-area: field2;
}

.field3 {
    grid-area: field3;
}

.field4 {
    grid-area: field4;
}

.field5 {
    grid-area: field5;
}

.button {
    /* Set spaces between the buttons */
    margin: 5% 10px;
    /* Add rounded corners */
    border-radius: 10px;
    /* Set background color */
    background-color: var(--button-background-color);
    /* Add a border */
    border: var(--button-border-color) dotted 3px;
    /* Add a grid */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "button_icon button_name";
}

.button:hover {
    /* Change the background color */
    background-color: var(--background-color);
    /* Change the border */
    border: var(--button-border-color) solid 3px;
}

.empty {
    /* Dont display it */
    display: none;
}

.button_icon {
    grid-area: button_icon;
}

.button_icon>img {
    /* Move the icon to the left */
    left: 0px;
    /* Set the icon size */
    height: 100%;
}

.button_name {
    /* Set the grid area */
    grid-area: button_name;
    /* Center the text vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Set font size */
    font-size: 200%;
}

.row_title {
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
}